<div class="view view-main">
    <div class="pages">
        <div class="page" data-page="userlist">
            <div class="page-content">
                <div class="list-block">
                    <!-- First group-->
                    <div class="list-group">
                        <ul>
                            <li class="list-group-title">教师用户</li>
                            {{#each account}}
                            <li class="swipeout accordion-item">
                                <a href="#" class="swipeout-content item-content item-link">
                                    <div class="item-inner">
                                        <div class="item-title">{{username}}</div>
                                        <div class="item-after"></div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="content-block">
                                        <p>身份证：{{pid}}</p>
                                        <p>性别：{{gender}}</p>
                                        <p>出生日期：{{dob}}</p>
                                    </div>
                                </div>
                                <!--swipout actions left-->
                                <div class="swipeout-actions-right">
                                    <a href="#">修改</a>
                                    <a href="#" class="swipeout-delete">删除</a>
                                </div>
                            </li>
                            {{/each}}
                            <li class="list-group-title">其他用户</li>
                        </ul>
                    </div>
                </div>
                <div class="content-block">

                </div>
            </div>
        </div>
    </div>
</div>