<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>{{title}}</title>
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="/css/f7/css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, Material Theme -->
    <link rel="stylesheet" href="/css/f7/css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->

    <link rel="stylesheet" href="/css/f7/css/framework7-icons.css">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!-- Path to Framework7 Library JS-->
    <style>

    </style>
</head>

<body>
    <div class="views">
        {{{body}}}
    </div>
</body>

</html>