<div class="view view-main">
    <div class="pages">
        <div data-page="index" class="page navbar-fixed">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center">自愿分流意向</div>
                    <div class="right">
                        <a href="#" class="button button-fill color-green" id="save">提交</a>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <form class="list-block" id="form1">
                    <ul>
                        <!-- Text inputs -->
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">第一选择</div>
                                    <div class="item-input">
                                        <select name="school1">
                                            <option></option>
                                            <option>桂林中学</option>
                                            <option>十八中</option>
                                            <option>三中</option>
                                            <option>十九中</option>
                                            <option>长海实验学校</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">第二选择</div>
                                    <div class="item-input">
                                        <select name="school2">
                                            <option></option>
                                            <option>桂林中学</option>
                                            <option>十八中</option>
                                            <option>三中</option>
                                            <option>十九中</option>
                                            <option>长海实验学校</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">第三选择</div>
                                    <div class="item-input">
                                        <select name="school3">
                                            <option></option>
                                            <option>桂林中学</option>
                                            <option>十八中</option>
                                            <option>三中</option>
                                            <option>十九中</option>
                                            <option>长海实验学校</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="/js/f7/js/framework7.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
    // Initialize your app
    var myApp = new Framework7({
        precompileTemplates: true,
    });

    // Export selectors engine
    var $$ = Dom7;


    // Add view
    var mainView = myApp.addView('.view-main', {
        // Because we use fixed-through navbar we can enable dynamic navbar
        domCache: true,
        dynamicNavbar: true
    });
    myApp.showPreloader('正在加载数据...')
</script>
<!--<script type="text/javascript" src="js/async.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<!-- Path to your app js-->
<script type="text/javascript" src="/js/appinit.js"></script>
<script type="text/javascript" src="/js/f7/js/my-app-graduatefenliu.js"></script>