<style>
        .errorcss {
            font-size: 12px;
            color: red;
        }
</style>
<!--教师绑定弹出层-->
<div class="popup tregpop">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="button button-fill color-yellow close-popup">关闭</a></div>
            <div class="center">教师绑定</div>
            <div class="right"><a href="#" class="button button-fill color-green" id="tBinderButt">绑定</a></div>
        </div>
    </div>
    <form id="teacher-form" class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" placeholder="教师姓名" name='username' id="tusername">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="password" placeholder="密码(身份证后6位)" name="password" id="tpassword">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>

<!--新生绑定弹出层-->
<div class="popup nsregpop">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="button button-fill color-yellow close-popup">关闭</a></div>
            <div class="center">新生绑定</div>
            <div class="right"><a href="#" class="button button-fill color-green" id="nsBinderButt">绑定</a></div>
        </div>
    </div>
    <form id="newstudent-form" class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" placeholder="新生姓名" name='username' id="nsusername">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="password" placeholder="密码(学生身份证后6位)" name="password" id="nspassword">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>

</div>

<!--在校生绑定弹出层-->
<div class="popup sregpop">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="button button-fill color-yellow close-popup">关闭</a></div>
            <div class="center">在校生绑定</div>
            <div class="right"><a href="#" class="button button-fill color-green" id="sBinderButt">绑定</a></div>
        </div>
    </div>
    <form id="student-form" class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" placeholder="学生姓名" name='username' id="susername">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" placeholder="密码(学生身份证后6位)" name="password" id="spassword">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>

<div class="view view-main">
    <div class="pages navbar-fixed">
        <div data-page="index" class="page">
            <input type="hidden" value="{{openid}}" id="openid">
            <div class="page-content">
                <div class="content-block">
                    <!--<p><a href="#" data-popup=".tregpop" class="button button-big button-fill open-popup">教师</a></p>-->
                    <p><a href="#" data-popup=".nsregpop" class="button button-big button-fill open-popup color-red">新生家长</a></p>
                    <!--<p><a href="#" data-popup=".sregpop" class="button button-big button-fill open-popup color-green">在校生家长</a></p>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/f7/js/framework7.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script type="text/javascript" src="/js/additional-methods.js"></script>
<script type="text/javascript" src="/js/appinit.js"></script>
<script type="text/javascript" src="/js/f7/js/my-app-wxbinder.js"></script>