<h3>code:<h3>{{code}}
<div class="content-block-title">微信绑定</div>
<div class="list-block">
    <ul>
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-input">
                        <input type="text" placeholder="毕业生姓名">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-input">
                        <input type="text" placeholder="{{useropenid}}">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-input">
                        <input type="email" placeholder="毕业生身份证号码">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-input">
                        <a href="#" class="button active" id="viewrecord">申请绑定</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>